<div class="container">
		<div class="divList" *ngIf="pantallaMostar==true">
      <div class="card">
         <div class="card-header">
           <h5 class="text-center">{{titulo}}</h5>
         </div>
         <div class="card-body">
					 <div class="row">
  			  	 <div class="col-lg-6">
							 <button type="button" (click)="mostrarNewEdit('Nuevo')" class="btn btn-primary"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Nuevo</button>
               <br>
						 </div>
             <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><li class="fa fa-search"></li></button>
                  </span>
                <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar">
               </div>
             </div>
					</div>
					<br>
					 <div *ngIf="pendientes?.length<=0" class="alert alert-info">
						 No hay registro en la base de datos
					 </div>
					 <div>
						  <p>Numero de Pendientes registrados:{{pendientes.length}}</p>
					 </div>
					 <div class="table-responsive">
           <table class="table table-bordered" *ngIf="pendientes?.length>0">
             <thead class="thead-light">
               <tr>
								 <th scope="col">Nombre</th>
                 <th scope="col">Descripcion</th>
                 <th width="200px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pendiente of pendientes|filter:filter| paginate: { itemsPerPage: 5, currentPage: numfilas };">                <th>{{pendiente.nombre}}</th>
                <th>{{pendiente.descripcion}}</th>
                <th >
                  <div class="divBotones" *ngIf="confirmar==null">
                     <div class="row text-center" >
                        <div class="col-sm-6">
 													<a (click)="deleteConfirmar(pendiente.id)" class="btn btn-danger btn-sm " role="button"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Elimnar</a>
                        </div>
                        <div class="col-sm-6">
													<button type="button" name="button" class="btn btn-warning btn-sm" (click)="cargarPendiente(pendiente.id,'Actualizar')"><i class="fa fa-calendar" aria-hidden="true"></i> Editar</button>
                         </div>
                      </div>
                  </div>
                  <div class="divBotones" *ngIf="confirmar==pendiente.id">
                    <div class="row text-center" >
                         <div class="col-sm-6">
                          <a  (click)="delete(pendiente)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Aceptar..</a>
                        </div>
                        <div class="col-sm-6">
                          <a  (click)="deleteCancelar()" class="btn btn-danger btn-sm "><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                        </div>
                     </div>
                  </div>
                </th>
              </tr>
            </tbody>
           </table>
					 </div>
					 <pagination-controls (pageChange)="numfilas = $event"></pagination-controls>

         </div>
         <div class="card-footer">
        </div>
      </div>
		</div>

    <div class="divFormNewEdit" *ngIf="pantallaMostar==false">
      <div class="card">
         <div class="card-header">
           <h5 class="text-center">{{titulo}}</h5>
         </div>
         <div class="card-body">
           <div class="row">
              <div class="col-lg-6">
                <button class="btn btn-danger bt-sm" (click)="mostrarList()"><span class="fa fa-window-close"></span> Cancelar</button>
              </div>
              <div class="col-lg-6">
              </div>
           </div>
					 <br>
           <form #formPendiente="ngForm" (ngSubmit)="formPendiente.reset();" id="form-pendiente">
                <div class="form-group row">
                   <label for="nombre" class="col-form-label col-sm-2">Nombre
                     <span *ngIf="nombre.touched && !nombre.valid" class="badge badge-danger">Campo obligatorio</span>
                   </label>
									 <div class="col-sm-6">
										 <input type="text" #nombre="ngModel" id="nombre" name="nombre" [(ngModel)]="pendiente.nombre" class="form-control" required=true>
									 </div>
                 </div>
                 <div class="form-group row">
                   <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                   <div class="col-sm-6">
										 <input type="text" #descripcion="ngModel" id="descripcion" name="descripcion" [(ngModel)]="pendiente.descripcion" class="form-control" class="form-control">
									 </div>
								 </div>
                <input type="submit"  value="Guardar" [disabled]="!formPendiente.form.valid" (click)="create()" *ngIf="!pendiente.id else elseBlock"class="btn btn-success bt-sm">
                 <ng-template #elseBlock>
									 <input type="submit"  value="Actualizar" [disabled]="!formPendiente.form.valid" (click)="update()" class="btn btn-success bt-sm">
								</ng-template>
					</form>
         </div>
         <div class="card-footer">
        </div>
      </div>
     </div>
</div>
